@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--@import "nullstyle.scss";--*/
body {
  font-family: "Lato";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1112px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.mainblock {
  padding: 50px 0;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .mainblock {
    padding: 20px 0;
  }
}
.mainblock-content {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}
.mainblock-content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainblock-text {
  margin: 30px 0;
  color: white;
  position: relative;
  padding: 0px 0px 45px 0px;
}
.mainblock-text:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
.mainblock-title {
  font-weight: 900;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 5.43px;
  margin: 0px 0px 10px 0px;
}
@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .mainblock-title {
    font-size: 25px;
    line-height: 30px;
  }
}
.mainblock-subtitle {
  font-size: 26px;
  font-weight: 400px;
  letter-spacing: 4.15px;
}
.mainblock-footer {
  display: inline-flex;
  flex-direction: column;
}
.mainblock-btn {
  margin: 0px 0px 60px 0px;
}
@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .mainblock-btn {
    margin: 0px 0px 30px 0px;
  }
}
.mainblock-arrow {
  position: relative;
  animation: arrow 2s infinite ease;
}
.mainblock-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes arrow {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.btn {
  background-color: transparent;
  display: inline-block;
  height: 47px;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  padding: 0 42px;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn-w {
  border: 1px solid #fff;
  color: #fff;
}
.btn-w:after {
  background-color: #fff;
}
.btn-b {
  border: 1px solid #000;
  color: #000;
}
.btn-b:after {
  background-color: #000;
}
.btn:after {
  transition-duration: 0.3s;
  transition-delay: 0s;
  transform: scale(0);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btn:hover.btn-w {
  color: #000;
}
.btn:hover.btn-b {
  color: #fff;
}
.btn:hover:after {
  transform: scale(1);
}

.content {
  background-color: #fff;
  z-index: 50;
  position: relative;
}

.menu {
  padding: 22px 0;
  border-bottom: 1px solid #F2F2F2;
}
.menu-mb {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 992.98px) {
  .menu-mb {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu-mb {
    margin: 0px 0px 30px 0px;
  }
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list li {
  margin: 0px 25px;
}
@media (max-width: 767.98px) {
  .menu-list li {
    margin: 0px 15px 10px 15px;
    flex: 0 1 25%;
  }
}
@media (max-width: 479.98px) {
  .menu-list {
    flex-wrap: wrap;
  }
}
.menu-link {
  color: #595959;
  font-size: 15px;
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.menu-link.act {
  color: #ada074;
}
.menu-link:hover {
  color: #ada074;
}

.headerblock {
  text-align: center;
}
.headerblock-title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95;
  color: black;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 30px 0px;
}
.headerblock-title:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 81px;
  background-color: #000;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
}
.headerblock-subtitle {
  padding: 30px 0px 0px 0px;
  font-size: 14px;
  color: #868585;
  min-width: 320px;
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto;
}

.about {
  padding: 0px 0px 60px 0px;
}
@media (max-width: 767.98px) {
  .about {
    padding: 0px 0px 10px 0px;
  }
}
.about-headerblock {
  margin: 0px 0px 65px 0px;
}
@media (max-width: 767.98px) {
  .about-headerblock {
    margin: 0px 0px 30px 0px;
  }
}
.about-body {
  text-align: center;
}
.about-row {
  display: inline-flex;
  margin: 0px -15px;
}
@media (max-width: 767.98px) {
  .about-row {
    display: block;
  }
}
.about-column {
  padding: 0 15px;
  flex: 0 1 33.3333%;
  margin: 0px 0px 30px 0px;
}
.about-item {
  text-align: center;
  max-width: 260px;
}
@media (max-width: 767.98px) {
  .about-item {
    max-width: none;
  }
}
.about-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 767.98px) {
  .about-icon {
    margin: 0px 0px 20px 0px;
  }
}
.about-icon-l img {
  position: relative;
  left: 5px;
}
.about-title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 33px 0px;
}
@media (max-width: 992.98px) {
  .about-title {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 767.98px) {
  .about-title {
    margin: 0px 0px 15px 0px;
  }
}
.about-text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.portfolio {
  background-color: #F3F3F3;
  padding: 100px 0px 55px 0px;
}
@media (max-width: 992.98px) {
  .portfolio {
    padding: 50px 0px 40px 0px;
  }
}
.portfolio-headerblock {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 992.98px) {
  .portfolio-headerblock {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-headerblock {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio-filter {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 992.98px) {
  .portfolio-filter {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-filter {
    margin: 0px 0px 30px 0px;
  }
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.portfolio-column {
  flex: 0 1 50%;
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .portfolio-column {
    flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }
}
.portfolio-item img {
  max-width: 100%;
}
.portfolio-footer {
  padding: 35px 0 0 0;
  text-align: center;
}
@media (max-width: 767.98px) {
  .portfolio-footer {
    padding: 15px 0 0 0;
  }
}
.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-item {
  font-size: 15px;
  font-weight: 700;
  margin: 0 25px;
  text-transform: uppercase;
  cursor: pointer;
}
.filter-item.active {
  color: #ada074;
}
@media (max-width: 767.98px) {
  .filter-item {
    margin: 0px 15px;
  }
}

.partners {
  background: url("../../img/bg2.jpg") center/cover no-repeat;
  padding: 100px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .partners {
    padding: 30px 0px 0px 0px;
  }
}
.partners-title {
  font-size: 30px;
  color: white;
  font-weight: 300;
  text-align: center;
  margin: 0 0 90px 0px;
}
@media (max-width: 767.98px) {
  .partners-title {
    margin: 0 0 30px 0px;
  }
}
.partners-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.partners-column {
  flex: 0 1 25%;
  margin: 0 0 70px 0px;
  padding: 0px 50px;
}
@media (max-width: 767.98px) {
  .partners-column {
    padding: 0px 30px;
  }
}
.contacts {
  padding: 180px 0px 80px 0px;
}
@media (max-width: 992.98px) {
  .contacts {
    padding: 80px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 30px 0px 30px 0px;
  }
}
.contacts-headerblock {
  margin: 0px 0px 120px 0px;
}
@media (max-width: 992.98px) {
  .contacts-headerblock {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .contacts-headerblock {
    margin: 0px 0px 30px 0px;
  }
}
.contacts-body {
  display: flex;
  margin: 0 -25px;
}
@media (max-width: 767.98px) {
  .contacts-body {
    display: block;
  }
}
.contacts-column {
  flex: 0 1 50%;
  padding: 0 25px;
}
.contacts-form {
  text-align: right;
}
@media (max-width: 767.98px) {
  .contacts-form {
    text-align: left;
    margin: 0 0 30px 0;
  }
}
.contacts-content {
  max-width: 260px;
}
@media (max-width: 767.98px) {
  .contacts-content {
    max-width: none;
  }
}
.contacts-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 35px 0;
}
.contacts-name {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 25px 0;
}
.contacts-social {
  margin: 0 0 15px 0;
}
.contacts-email {
  font-size: 14px;
}
.contacts-email a {
  font-weight: 700;
  color: #000;
}
.contacts-email a:hover {
  text-decoration: underline;
}

.form-contacts-body {
  max-width: 385px;
  display: inline-block;
  width: 100%;
}
@media (max-width: 767.98px) {
  .form-contacts-body {
    display: block;
    max-width: none;
  }
}
.form-contacts-row {
  display: flex;
  margin: 0 -15px 70px -15px;
}
@media (max-width: 767.98px) {
  .form-contacts-row {
    margin: 0 -15px 30px -15px;
  }
}
@media (max-width: 479.98px) {
  .form-contacts-row {
    display: block;
  }
}
.form-contacts-column {
  flex: 0 1 50%;
  padding: 0 15px;
}
@media (max-width: 479.98px) {
  .form-contacts-column:first-child {
    margin: 0 0 30px 0;
  }
}
.form-contacts-label {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0px;
}
.form-contacts-btn {
  margin: 35px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .form-contacts-btn {
    display: block;
    width: 100%;
  }
}

.social {
  display: flex;
  margin: 0 0 15px 0;
}
.social-item {
  margin: 0 15px 0 0;
}

.input {
  position: relative;
  border-top: 1px solid #000;
  height: 50px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 20px;
  background-color: #F9F7F7;
  font-size: 15px;
}
.input.focus {
  border-top: 1px solid blue;
}
.input.err {
  border-top: 1px solid red;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

footer {
  z-index: 50;
}

.footer {
  background-color: #393939;
  padding: 45px 0;
}
.footer-body {
  text-align: center;
}
.footer-logo {
  display: inline-block;
  margin: 0 0 40px 0;
}
.footer-menu {
  text-align: center;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 35px 0;
}
.footer-list li {
  margin: 0px 15px;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  color: #a4a4a4;
}
.footer-link:hover {
  color: grey;
}
.footer-text {
  font-size: 14px;
  color: #6c6c6c;
}

input:focus {
  box-shadow: 0 0 15px #AEFF2D;
}

textarea:focus {
  box-shadow: 0 0 15px #AEFF2D;
}

._error {
  box-shadow: 0 0 15px #523;
}

form {
  position: relative;
}
form:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}

form._sending:after {
  opacity: 1;
  visibility: visible;
}